@keyframes neon-flicker {
  0% {
    opacity: 100%;
  }
  20% {
    opacity: 50%;
  }
  40% {
    opacity: 50%;
  }
  60% {
    opacity: 50%;
  }
  80% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes white-flicker {
  0% {
    opacity: 50%;
  }
  20% {
    opacity: 100%;
  }
  40% {
    opacity: 25%;
  }
  60% {
    opacity: 25%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes lightBlue-flicker {
  0% {
    opacity: 25%;
  }
  20% {
    opacity: 50%;
  }
  40% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  80% {
    opacity: 50%;
  }
  100% {
    opacity: 25%;
  }
}

.page__squares {
  width: 989px;
  height: 460px;
  overflow: clip;
  position: absolute;
  top: -126px;
  right: -429px;
  rotate: 38deg;
  z-index: -1;
}

.page__lightBlue {
  position: absolute;
  animation: lightBlue-flicker 5s ease-in-out 0s infinite;
}

.page__white {
  position: relative;
  top: -6px;
  left: -6px;
  animation: white-flicker 5s ease-in-out 0s infinite;
}

.page__neon {
  position: relative;
  top: -487px;
  left: -12px;
  animation: neon-flicker 5s ease-in-out 0s infinite;
}

@media screen and (max-width: 425px) {
  .page__squares {
    rotate: 90deg;
    right: -642px;
  }
}

@media screen and (max-width: 375px) {
  .page__squares {
    right: -668px;
  }
}

@media screen and (max-width: 320px) {
  .page__squares {
    right: -722px;
  }
}
