@font-face {
  font-family: "JetBrainsMono";
  src: url(../../../fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf);
}

@font-face {
  font-family: "Tourney";
  src: url(../../../fonts/Tourney/static/Tourney-LightItalic.ttf);
}

p {
  margin: 0;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home__background-container {
  width: 100%;
  height: 100%;
  overflow: clip;
}

.home__background-image {
  height: 70vh;
}

.home__background-text {
  font-family: Tourney, sans-serif;
  color: #00ffff;
  opacity: 20%;
  width: 90%;
  position: absolute;
  top: 35%;
  left: 40px;
  font-size: 19vw;
}

.home__content-container {
  padding-top: 38px;
  width: 100%;
  height: 100%;
}

.home__first-line {
}

.home__custom-text {
  font-family: JetsBrainsMono, serif, math;
  font-size: 35px;
  color: #fff;
}

.home__second-line {
  display: flex;
}

.home__custom-tag {
  color: #00ffff;
  font-size: 35px;
}

.home__custom-className {
  color: #00bfff;
  font-size: 35px;
}

.home__custom-name {
  color: red;
  font-size: 35px;
}

.home__custom-damianLavin {
  font-family: JetsBrainsMono, serif, math;
  color: #fff;
}

.home__fourth-line {
  display: flex;
}
