@font-face {
  font-family: "JetBrainsMono";
  src: url(../../../fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLightItalic.ttf);
}

.navBar {
  display: flex;
  padding-bottom: 38px;
}

.navBar__container {
  display: flex;
  justify-content: flex-start;
  column-gap: 15px;
}

.navBar__brackets {
  color: #fff;
}

.navBar__text {
  font-family: JetBrainsMono, serif, math;
  color: #fff;
  border: none;
  background: none;
}

.navBar__text:hover {
  cursor: pointer;
}

.navBar__text-ends:hover {
  color: #00ffff;
}

.navBar__text-projects:hover {
  color: #00bfff;
}

.navBar__spacer {
  color: #fff;
}
