@font-face {
  font-family: "JetBrainsMono";
  src: url(../../../fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf);
}

@font-face {
  font-family: "Tourney";
  src: url(../../../fonts/Tourney/static/Tourney-LightItalic.ttf);
}

p {
  margin: 0;
}

.bckgnd-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bckgnd-layout__squares {
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.bckgnd-layout__squares-neon {
  opacity: 100%;
}

.bckgnd-layout__squares-light-blue {
  opacity: 100%;
}

.bckgnd-layout__container {
  width: 100%;
  height: 100%;
  overflow: clip;
  position: fixed;
  top: 60px;
}

.bckgnd-layout__image {
  height: 70vh;
}

.bckgnd-layout__text {
  font-family: Tourney, sans-serif;
  color: #00ffff;
  opacity: 5%;
  width: 90%;
  position: absolute;
  top: 25%;
  left: 40px;
  font-size: 19vw;
}

/* 
* Home Section Styles 
*/

.bckgnd-layout__main-content {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.bckgnd-layout__custom-text {
  font-family: JetBrainsMono, serif, math;
  font-size: 35px;
  color: #fff;
}

.bckgnd-layout__second-line {
  display: flex;
  opacity: 20%;
}

.bckgnd-layout__custom-tag {
  color: #00ffff;
  font-size: 35px;
}

.bckgnd-layout__custom-className {
  color: #00bfff;
  font-size: 35px;
}

.bckgnd-layout__custom-name {
  color: red;
  font-size: 35px;
}

.bckgnd-layout__custom-damianLavin {
  font-family: JetBrainsMono, serif, math;
  color: #fff;
  margin: 0;
  font-size: 140px;
}

.bckgnd-layout__fourth-line {
  display: flex;
  opacity: 20%;
}

/* 
* Project Section Styles 
*/

.bckgnd-layout__projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  gap: 20px;
  list-style: none;
  position: absolute;
  top: -100px;
  left: 20px;
}

.bckgnd-layout__project {
  color: #fff;
  width: 400px;
  height: 250px;
  /* border: 1px solid #00ffff; */
  overflow: hidden;
  cursor: pointer;
}

.bckgnd-layout__project-img-cont {
  width: 100%;
  height: 100%;
}

.bckgnd-layout__project-img {
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: transform 1s ease-in-out;
}

.bckgnd-layout__project-content {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  z-index: 1;
  transition: transform 2s ease-in-out;
  transition: opacity 2.9s ease-in-out;
}

.bckgnd-layout__project:hover .bckgnd-layout__project-img {
  transform: scaleY(0.5) translate(0, -50%);
}

.bckgnd-layout__project:hover .bckgnd-layout__project-content {
  transform: translate(0, -100%);
  opacity: 1;
}

/*
* About Me Styles
*/

.bckgnd-layout__text-about {
  font-size: 18vw;
}

.bckgnd-layout__custom-blue {
  font-family: JetBrainsMono, serif, math;
  color: #00bfff;
  font-size: 30px;
}

.bckgnd-layout__custom-neon {
  font-family: JetBrainsMono, serif, math;
  color: #00ffff;
  font-size: 30px;
}

.bckgnd-layout__about-damian {
  font-family: JetBrainsMono, serif, math;
  color: #fff;
  font-size: 104px;
  margin: 0;
}

.bckgnd-layout__titles {
  font-family: JetBrainsMono, serif, math;
  color: #fff;
  font-size: 50px;
}

.bckgnd-layout__education {
  margin: 52px 0 41px;
}

.bckgnd-layout__skills {
  margin-bottom: 40px;
}

.bckgnd-layout__columns {
  display: flex;
  column-gap: 53px;
}

.bckgnd-layout__aboutMe {
  width: 50%;
}

.bckgnd-layout__jobs {
  width: 50%;
}

.bckgnd-layout__experience {
  margin-bottom: 93px;
}
