@font-face {
  font-family: "JetBrainsMono";
  src: url(../../../fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf);
}

@font-face {
  font-family: "Tourney";
  src: url(../../../fonts/Tourney/static/Tourney-LightItalic.ttf);
}

p {
  margin: 0;
}

.bckgnd-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bckgnd-layout__container {
  width: 100%;
  height: 100%;
  overflow: clip;
}

.bckgnd-layout__image {
  height: 70vh;
}

.bckgnd-layout__text {
  font-family: Tourney, sans-serif;
  color: #00ffff;
  opacity: 5%;
  width: 90%;
  position: absolute;
  top: 35%;
  left: 40px;
  font-size: 19vw;
}

.bckgnd-layout__main-content {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.bckgnd-layout__custom-text {
  font-family: JetsBrainsMono, serif, math;
  font-size: 35px;
  color: #fff;
}

.bckgnd-layout__second-line {
  display: flex;
  opacity: 20%;
}

.bckgnd-layout__custom-tag {
  color: #00ffff;
  font-size: 35px;
}

.bckgnd-layout__custom-className {
  color: #00bfff;
  font-size: 35px;
}

.bckgnd-layout__custom-name {
  color: red;
  font-size: 35px;
}

.bckgnd-layout__custom-damianLavin {
  font-family: JetsBrainsMono, serif, math;
  color: #fff;
  font-size: 14vw;
}

.bckgnd-layout__fourth-line {
  display: flex;
  opacity: 20%;
}
