@font-face {
  font-family: "JetBrainsMono";
  src: url(../../../fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf);
}

@font-face {
  font-family: "Tourney";
  src: url(../../../fonts/Tourney/static/Tourney-LightItalic.ttf);
}

p {
  margin: 0;
}

.bckgnd-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bckgnd-layout__squares {
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.bckgnd-layout__squares-neon {
  opacity: 100%;
}

.bckgnd-layout__squares-light-blue {
  opacity: 100%;
}

.bckgnd-layout__container {
  width: 100%;
  height: 100%;
  overflow: clip;
  position: fixed;
  top: 60px;
}

.bckgnd-layout__image {
  height: 70vh;
}

.bckgnd-layout__text {
  font-family: Tourney, sans-serif;
  color: #00ffff;
  opacity: 5%;
  width: 90%;
  position: absolute;
  top: 25%;
  left: 40px;
  font-size: 19vw;
}

.bckgnd-layout__main-content {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* 
* Home Section Styles 
*/

.bckgnd-layout__custom-text {
  font-family: JetBrainsMono, serif, math;
  font-size: 35px;
  color: #fff;
}

.bckgnd-layout__second-line {
  display: flex;
  opacity: 20%;
}

.bckgnd-layout__custom-tag {
  color: #00ffff;
  font-size: 35px;
}

.bckgnd-layout__custom-className {
  color: #00bfff;
  font-size: 35px;
}

.bckgnd-layout__custom-name {
  color: red;
  font-size: 35px;
}

.bckgnd-layout__custom-damianLavin {
  font-family: JetBrainsMono, serif, math;
  color: #fff;
  margin: 0;
  font-size: 140px;
}

.bckgnd-layout__fourth-line {
  display: flex;
  opacity: 20%;
}

/* 
* Project Section Styles 
*/

.bckgnd-layout__projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  gap: 20px;
  list-style: none;
  position: absolute;
  top: -100px;
  left: 20px;
}

.bckgnd-layout__project {
  color: #fff;
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.bckgnd-layout__project-img-cont {
  width: 100%;
  height: 100%;
}

.bckgnd-layout__project-img {
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: transform 1s ease-in-out;
}

.bckgnd-layout__project-content {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  z-index: 1;
  transition: transform 2s ease-in-out;
  transition: opacity 2.9s ease-in-out;
}

.bckgnd-layout__project-text {
  font-family: JetBrainsMono, serif, math;
  max-height: 75px;
}

.bckgnd-layout__project-anchors {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
}

.bckgnd-layout__project-anchors:hover {
  color: #00ffff;
}

.bckgnd-layout__project:hover .bckgnd-layout__project-img {
  transform: scaleY(0.5) translate(0, -60%);
}

.bckgnd-layout__project:hover .bckgnd-layout__project-content {
  transform: translate(0, -100%);
  opacity: 1;
}

/*
* About Me Styles
*/

.bckgnd-layout__text-about {
  font-size: 18vw;
}

.bckgnd-layout__custom-blue {
  font-family: JetBrainsMono, serif, math;
  color: #00bfff;
  font-size: 30px;
}

.bckgnd-layout__custom-neon {
  font-family: JetBrainsMono, serif, math;
  color: #00ffff;
  font-size: 30px;
}

.bckgnd-layout__about-damian {
  font-family: JetBrainsMono, serif, math;
  color: #fff;
  font-size: 104px;
  margin: 0;
}

.bckgnd-layout__titles {
  font-family: JetBrainsMono, serif, math;
  color: #fff;
  font-size: 50px;
}

.bckgnd-layout__education {
  margin: 52px 0 41px;
}

.bckgnd-layout__skills {
  margin-bottom: 40px;
}

.bckgnd-layout__columns {
  display: flex;
  column-gap: 53px;
}

.bckgnd-layout__aboutMe {
  width: 50%;
}

.bckgnd-layout__jobs {
  width: 50%;
}

.bckgnd-layout__experience {
  margin-bottom: 93px;
}

/*
* Links Styles
*/

.bckgnd-layout__links-container {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.bckgnd-layout__links-icon {
  max-width: 20px;
  max-height: 25px;
}

.bckgnd-layout__links-name {
  font-family: Tourney, sans-serif;
  color: #00ffff;
  font-size: 19px;
  align-content: center;
  cursor: default;
}

.bckgnd-layout__links-anchors {
  font-family: JetBrainsMono, serif, math;
  max-height: 75px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 0;
}

.bckgnd-layout__links-anchors:hover {
  text-decoration: underline;
}

@media screen and (max-width: 425px) {
  .bckgnd-layout__container {
    left: 5px;
  }

  .bckgnd-layout__main-content {
    left: -10px;
    row-gap: 5px;
  }

  /* Home Styles */
  .bckgnd-layout__custom-text {
    font-size: 25px;
  }

  .bckgnd-layout__custom-tag {
    font-size: 25px;
  }

  .bckgnd-layout__custom-className {
    font-size: 25px;
  }

  .bckgnd-layout__custom-name {
    font-size: 25px;
  }

  .bckgnd-layout__custom-damianLavin {
    font-size: 75px;
  }

  /* 
  * Project Section Styles 
  */

  .bckgnd-layout__projects {
    gap: 35px;
  }

  .bckgnd-layout__project {
    height: 100%;
    overflow: visible;
  }

  .bckgnd-layout__project-img {
    transition: none;
  }

  .bckgnd-layout__project-content {
    opacity: 100%;
    transition: none;
  }

  .bckgnd-layout__project-title {
    margin: 5px 0;
    color: white;
    text-decoration: none;
  }

  .bckgnd-layout__project-text {
    max-height: 55px;
    font-size: 12px;
  }

  .bckgnd-layout__project:hover .bckgnd-layout__project-img {
    transform: none;
  }

  .bckgnd-layout__project:hover .bckgnd-layout__project-content {
    transform: none;
  }

  /*
  * About Me Styles
  */

  .bckgnd-layout__about-damian {
    font-size: 65px;
  }

  .bckgnd-layout__titles {
    font-size: 28px;
  }

  .bckgnd-layout__education {
    margin: 15px 0;
  }

  .bckgnd-layout__columns {
    flex-direction: column-reverse;
    row-gap: 15px;
  }

  .bckgnd-layout__aboutMe {
    width: 100%;
    padding-bottom: 10px;
  }

  .bckgnd-layout__about-me-mobile {
    font-size: 13px;
  }

  .bckgnd-layout__jobs {
    width: 100%;
  }

  .bckgnd-layout__experience {
    margin-bottom: 15px;
  }

  /*
* Links Styles
*/

  .bckgnd-layout__links-anchors {
    font-size: 13px;
  }
}
